<div class="jumbotron"  style="padding:40px;">
  <h1>This is Contact Page</h1>
  <p>Contact List :</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <% if (cont.length < 1) { %>
        <p>Contact data is empty</p>
       <% } else{ %>
        <% cont.map((conts,index)=>{ %>
      <tr>
        <th scope="row"><%= index +1 %> </th>
        <td><%= conts.name%></td>
        <td><%= conts.email%></td>
      </tr>
      <% }) %>
      <% } %>
    </tbody>
  </table>
</div>